{% extends 'base.html' %}
{% load static %}
{% block active_home %} active {% endblock active_home %}



{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <br><br><br><br><br>


    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <img src="{% static 'assets/img/hero-carousel/hero-carousel-2.jpg' %}" alt="">
        <div class="carousel-container">
          <h2><span>Welcome</span> to PuppyGo</h2>
          <p>Let’s celebrate the joy of having dogs in our lives!
          </p>
          <div>
            <a href="{% url 'myapp:store' %}" class="btn-get-started">availible puppies</a>
            <a href="{% url 'myapp:contact' %}" class="btn-get-started">Re-Home</a>
          </div>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="{% static 'assets/img/hero-carousel/hero-carousel-1.jpg' %}" alt="">
        <div class="carousel-container">
          <h2>Welcome to PuppyGo</h2>
          <p> We look forward to connecting with you and your furry friends!</p>
          <div>
            <a href="{% static 'myapp:store' %}" class="btn-get-started">Re-Home a puppy</a>
          </div>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="{% static 'assets/img/hero-carousel/hero-carousel-3.jpg' %}" alt="">
        <div class="carousel-container">
          <h2>At PuppyGo</h2>
          <p>unconditional love and joy that dogs bring into our lives</p>
          <div>
            <a href="{% url 'myapp:store' %}" class="btn-get-started">our availible puppies</a>
          </div>
        </div>
      </div><!-- End Carousel Item -->

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators"></ol>

    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
<section id="about" class="about section light-background">

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
          <img src="{% static 'assets\img\close-up-dog (1).jpg' %}" class="img-fluid" alt="">
          <a href="#" class="glightbox pulsating-play-btn"></a>
        </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>We are a passionate team of dog lovers dedicated to enhancing the lives of dogs and their owners</h3>
          <p class="fst-italic">
            With years of experience in pet care and a deep love for dogs,
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span>we strive to be your go-to resource for everything related to your four-legged friends</span></li>
            <li><i class="bi bi-check2-all"></i> <span> Our mission is to provide valuable information, quality services,</span></li>
            <li><i class="bi bi-check2-all"></i> <span>supportive community for all dog enthusiasts.</span></li>
          </ul>
          <p>
            Join us on this journey to celebrate the unconditional love and joy that dogs bring into our lives!
          </p>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Why Us Section -->
  <section id="why-us" class="why-us section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Why Us</h2>
        <div><span>Why choose</span> <span class="description-title">Us</span></div>
      </div><!-- End Section Title -->  

      <div class="container">

        <div class="row gy-4">
  
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>01</span>
              <h4><a href="#" class="stretched-link">Basic Obedience Training</a></h4>
              <p> Offer packages that include training sessions for new puppy owners to teach essential commands and good behavior from an early age.</p>
            </div>
          </div><!-- Card Item -->
  
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>02</span>
              <h4><a href="#" class="stretched-link">Veterinary Services</a></h4>
              <p>Partner with local veterinarians to offer health check-ups, vaccinations, and wellness plans for new dog owners.</p>
            </div>
          </div><!-- Card Item -->
  
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>03</span>
              <h4><a href="#" class="stretched-link"> Insurance Plans</a></h4>
              <p>Collaborate with pet insurance companies to offer plans that cover health emergencies, routine care, and preventive treatments, ensuring new owners can provide the best care for their dogs.</p>
            </div>
          </div><!-- Card Item -->
        </div>
  
      </div>

  </section><!-- /Why Us Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <img class="slider-bg" src="assets/img/events-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/event-slider-1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Dog Park Socialization</h3>
                  <div class="price">
                      <p><span>Free</span></p>
                  </div>
                  <p class="fst-italic">
                      Socializing your dog at the park helps them learn how to interact with other dogs in a safe and controlled environment.
                  </p>
                  <ul>
                      <li><i class="bi bi-check2-circle"></i> <span>Promotes good social behavior and reduces aggression.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Allows your dog to burn off excess energy in a fun way.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Strengthens their confidence and adaptability.</span></li>
                  </ul>
                  <p>
                      Regular visits to the dog park can lead to a happier, well-adjusted, and more sociable furry friend.
                  </p>
              </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/event-slider-2.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Dog Obedience Classes</h3>
                  <div class="price">
                      <p><span>$80</span></p>
                  </div>
                  <p class="fst-italic">
                      Obedience classes focus on teaching your dog basic commands and good manners for better behavior.
                  </p>
                  <ul>
                      <li><i class="bi bi-check2-circle"></i> <span>Improves communication between you and your dog.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Helps in managing common behavior issues.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Builds a foundation for advanced training.</span></li>
                  </ul>
                  <p>
                      Well-behaved dogs make happier companions and are more welcome in various social settings.
                  </p>
              </div>
              
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/event-slider-3.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Dog Agility Training</h3>
                  <div class="price">
                      <p><span>$50</span></p>
                  </div>
                  <p class="fst-italic">
                      Agility training helps to improve your dog's physical fitness and mental sharpness through obstacle courses.
                  </p>
                  <ul>
                      <li><i class="bi bi-check2-circle"></i> <span>Enhances coordination and focus.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Strengthens the bond between you and your dog.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Great for energetic dogs that need a challenge.</span></li>
                  </ul>
                  <p>
                      Dogs love agility training as it engages their natural instincts and provides them with a fun and rewarding activity.
                  </p>
              </div>
              </div>
            </div><!-- End Slider item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->


     <!-- Book A Table Section -->
     <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Fill our Re-Homing form</h2>
        <div><span>Fill our form</span> <span class="description-title">Table</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" >
            <img src="{% static 'assets\img\close-up-dog (1).jpg' %}" class="img-fluid" alt="">

          </div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              </div>

              <div class="text-center mt-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                <button type="submit">Submit</button>
              </div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>

    </section><!-- /Book A Table Section -->

     <!-- Gallery Section -->
     <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <div><span>Some of our photos</span> <span class="description-title"></span></div>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-2.jpg' %} " class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->
{% endblock content %}