{% extends 'base.html' %}
{% load static %}
{% block active_services %} active {% endblock active_services %}



{% block content %}
 <!-- Why Us Section -->
 <section id="why-us" class="why-us section">
  <br><br><br><br><br><br>


    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Why Us</h2>
      <div><span>Why choose</span> <span class="description-title">Us</span></div>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <span>01</span>
            <h4><a href="#" class="stretched-link">Basic Obedience Training</a></h4>
            <p> Offer packages that include training sessions for new puppy owners to teach essential commands and good behavior from an early age.</p>
          </div>
        </div><!-- Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <span>02</span>
            <h4><a href="#" class="stretched-link">Veterinary Services</a></h4>
            <p>Partner with local veterinarians to offer health check-ups, vaccinations, and wellness plans for new dog owners.</p>
          </div>
        </div><!-- Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>03</span>
            <h4><a href="#" class="stretched-link"> Insurance Plans</a></h4>
            <p>Collaborate with pet insurance companies to offer plans that cover health emergencies, routine care, and preventive treatments, ensuring new owners can provide the best care for their dogs.</p>
          </div>
        </div><!-- Card Item -->
        
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>04</span>
            <h4><a href="#" class="stretched-link">Online Shop</a></h4>
            <p>Create an e-commerce section where customers can purchase essential supplies such as food, toys, grooming products, and training equipment.</p>
          </div>
        </div><!-- Card Item -->
        
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>05</span>
            <h4><a href="#" class="stretched-link">Breed Guides</a></h4>
            <p>Provide detailed information about different dog breeds, including temperament, care requirements, and suitability for various lifestyles.</p>
          </div>
        </div><!-- Card Item -->
        
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>06</span>
            <h4><a href="#" class="stretched-link">Adoption Resources</a></h4>
            <p>Offer guidance on responsible dog ownership, including tips on training, socialization, and integrating a new dog into the family.</p>
          </div>
        </div><!-- Card Item -->

      </div>

    </div>

  </section><!-- /Why Us Section -->
{% endblock content %}